<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075899688294-434dd3lisdt68brqbc4u64vqbjhh0nqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075899688294-434dd3lisdt68brqbc4u64vqbjhh0nqj</string>
	<key>API_KEY</key>
	<string>AIzaSyANuU1K4oi-dbEpSShf_jM-a3fX6xhV7Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>1075899688294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsbymuk.multiVendor</string>
	<key>PROJECT_ID</key>
	<string>multi-vendor-ecommerce-f405b</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-vendor-ecommerce-f405b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075899688294:ios:c01f8291fb5c61cca594a7</string>
</dict>
</plist>